<!DOCTYPE html>
<html>
<head>
<script src="../js/angular/angular.js"></script>
<script src="../js/ang1.js"></script>
</head>
<body>
  <div ng-app="myApp">
    <h1>{{data.message}}</h1>
      <div ng-controller="FirstCtrl">
        <h1>{{data.message + " world"}}</h1>
    <div>
      <h5  style="color:{{data.color}}">Wrap me in a foundation component called {{spice}}</h5>
      <input type="text" ng-model="data.message">
      <input type="text" ng-model="data.color">
    </div>
  </div>
    <div ng-controller="AddPostCtrl">
      <h1>{{updateFromModel}}</h1>
      <h1>Also known as: {{timeNow}}</h1>
      <form ng-submit="submitPost()" ng-controller="SecondCtrl">
	<input type="text" ng-model="blog.name" />
	  <br />
	<input type="text" ng-model="blog.email" />
	<input type="submit"/>
      </form>
    </div>  
  </div>
</body>
</html>