<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/angular/angular.min.js"></script>
<script src="../js/angular/angular-sanitize.min.js"></script>
<link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="../js/angular/bootstrap.min.js"></script>
<script src="../js/ang2.js"></script>

<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>
  <div ng-app="MyApp">
    <div ng-controller="Control">
       <form ng-submit="submitPost()">
	<input type="text" ng-model="post.name" />
	<br /><input type="text" ng-model="post.email" /><br />
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
	
	<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect formatselect fontselect fontsizeselect  | bold italic",
    toolbar2: "print preview media | forecolor backcolor emoticons | link image | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>
	
	<div style="width:600px"><br /><textarea name="content" ng-model="post.entry"></textarea></div>
	<br /><input type="submit"/>
      </form>
      <div class="pull-right"><h1>HERE GOES:</h1><br /><p ng-bind-html-unsafe="evil">{{evil}}</p></div>
      <div>
      </div>
    </div>
  </div>
</body>
</html>